@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    @apply font-jakarta;
    scroll-behavior: smooth;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.06);
      opacity: 0.7;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .pulse {
    transform-origin: center;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }